# ENV files
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
venv/
.env/
.virtualenv/

# Alembic cache and artifacts
alembic/versions/*.pyc
alembic/__pycache__/

# Uploaded files
uploads/
*.sqlite3
*.db

# IDE and system
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Bytecode
*.egg-info/
